@media(max-width:374px)and (min-width:320px){
    .header_table{
        margin: auto;
    }
    .header_section{
        min-width:0px
    }
    .header_table{
        width: 75%;
    }
    .header_table h1{
        font-size: 60px;
    }
    .header_table h2{
        font-size: 30px;
    }
    ul.navbar-nav.ms-auto.mb-2.mb-lg-0 {
        text-align: center;
    }
    .btn_read{
        font-size: 18px;
        margin-bottom: 0px;
    }
    .future_top h3{
        margin-top: 0px;
        text-align: center;
    }
    .future_top p{
        text-align: center;
        font-size: 17px;
    }
    .h_f_img{
        display: none;
    }
    .futared_section_1{
        padding: 20px;
    }
    .plant_div h1{
        font-size: 50px;
    }
    .plant_div h2{
        font-size: 30px;
    }
    .plant_img_div{
        text-align: center;
    }
    .plant_img_1{
        padding-left: 25px;
        padding-top: 20px;
    }
    .problm2{
        display: none;
    }
    .problm{
        display: none;
    }
    .plant_cont_1 h4{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .plant_cont_1 p{
        font-size: 15px;
        padding: 0 28px;
        padding-bottom: 10px;
    }
    .plant_cont_1 h5{
        padding-bottom: 30px ;
    }
    .discover_section_head h3{
        font-size: 27px;
    }
    .discover_section_head p{
        padding: 0 12%;
    }
    .discover_section_head ul{
        width: 100%;
        margin-left: 0px;
    }
    .icon{
        margin-left: 20px;
    }
    .manu_con h3{
        font-size: 24px;
        margin: 0px;
        margin-bottom: 5px;
    }
    .icon i{
        font-size: 30px;
    }
    .icon{
        height: 50px;
    }
    .book_head_section{
        display: none;
    }
    .from_div{
        text-align: center;
        margin-left: 45px;
    }
    .button, input, optgroup, select, textarea{
        width: 100%;
    }
    .btn_submit{
        width: 70%;
    }
    .book_down_section{
        display: none;
    }
    .new_manu{
        width: 85%;
    }
    .new_manu p{
        font-size: 15px;
    }
}
@media(max-width:424px)and (min-width:375px){
    .header_table{
        margin: auto;
    }
    .header_section{
        min-width:0px
    }
    .header_table{
        width: 75%;
    }
    .header_table h1{
        font-size: 60px;
    }
    .header_table h2{
        font-size: 30px;
    }
    ul.navbar-nav.ms-auto.mb-2.mb-lg-0 {
        text-align: center;
    }
    .btn_read{
        font-size: 18px;
        margin-bottom: 0px;
    }
    .future_top h3{
        margin-top: 0px;
        text-align: center;
    }
    .future_top p{
        text-align: center;
        font-size: 17px;
    }
    .h_f_img{
        display: none;
    }
    .futared_section_1{
        padding: 20px;
    }
    .plant_div h1{
        font-size: 50px;
    }
    .plant_div h2{
        font-size: 30px;
    }
    .plant_img_div{
        text-align: center;
    }
    .plant_img_1{
        padding-left: 50px;
        padding-top: 20px;
    }
    .problm2{
        display: none;
    }
    .problm{
        display: none;
    }
    .plant_cont_1 h4{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .plant_cont_1 p{
        font-size: 15px;
        padding: 0 28px;
        padding-bottom: 10px;
    }
    .plant_cont_1 h5{
        padding-bottom: 30px ;
    }
    .discover_section_head h3{
        font-size: 27px;
    }
    .discover_section_head p{
        padding: 0 10%;
    }
    .discover_section_head ul{
        width: 100%;
        margin-left: 0px;
    }
    .icon{
        margin-left: 20px;
    }
    .manu_con h3{
        font-size: 24px;
        margin: 0px;
        margin-bottom: 5px;
    }
    .icon i{
        font-size: 30px;
    }
    .icon{
        height: 50px;
    }
    .book_head_section{
        display: none;
    }
    .from_div{
        text-align: center;
        margin-left: 67px;
    }
    .button, input, optgroup, select, textarea{
        width: 100%;
    }
    .btn_submit{
        width: 70%;
    }
    .book_down_section{
        display: none;
    }
    .new_manu{
        width: 85%;
    }
    .new_manu p{
        font-size: 15px;
    }
}
@media(max-width:430px)and (min-width:425px){
    .header_section{
        min-width:0px
    }
    .header_table{
        width: 75%;
        margin-top: 50px;
    }
    .header_table h1{
        font-size: 80px;
    }
    .header_table h2{
        font-size: 40px;
    }
    ul.navbar-nav.ms-auto.mb-2.mb-lg-0 {
        text-align: center;
    }
    .navbar-light .navbar-brand{
        margin-left: 145px;
    }
    .plant_div h1{
        font-size: 80px;
    }
    .plant_div h2{
        font-size: 40px;
    }
    .plant_img_div{
        text-align: center;
    }
    .plant_img_1{
        padding-left: 75px;
        padding-top: 55px;
    }
    .problm2{
        display: none;
    }
    .problm{
        display: none;
    }
    .plant_cont_1 h4{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .plant_cont_1 p{
        padding-left: 30px;
    }
    .plant_cont_1 h5{
        padding-bottom: 30px;
    }
    .discover_section_head ul{
        margin-left: 0px;
        justify-content: space-around;
        width: 100%;
    }
    .manu_con p{
        padding-right:10%;
    }
    .icon{
        margin-left: 50px;
    }
    .book_head_section{
        min-height: 50vh;
    }
    .from_div{
        text-align: center;
        margin-left: 100px;
    }
    .button, input, optgroup, select, textarea{
        width: 100%;
    }
    .btn_submit{
        margin-left: 10px;
    }
    .book_down_section{
        min-height: 60vh;
    }
    .new_manu{
        margin: 0 32px;
        margin-bottom: 50px;
    }
}
@media(max-width:768px)and (min-width:431px){
    .header_section{
        min-width:0px
    }
    .header_table{
        width: 75%;
        margin-top: 50px;
    }
    ul.navbar-nav.ms-auto.mb-2.mb-lg-0 {
        text-align: start;
    }
    .navbar-light .navbar-brand{
        margin-left: 50px;
    }
    .navbar-collapse{
        margin-left: 50px;
    }
    .h_f_img{
        width: 90%;
    }
    .plant_cont_1 h4{
        padding: 0;
        font-size: 25px;
    }
    .plant_cont_1 p{
        padding: 0;
        font-size: 15px;
        padding: 10px;
    }
    .icon{
        margin-left: 20px;
        width: 108px;
    }
    .manu_con p{
        padding-right: 30px;
    }
    .book_head_section{
        min-height: 60vh;
    }
    .button, input, optgroup, select, textarea{
        width: 100%;
    }
    .book_down_section{
        min-height: 55vh;
    }
}
@media(max-width:1024px)and (min-width:769px){

}